<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file enables and configures the PlaceholderSettings foundation module.

To disable this file, change its extension to ".disabled".

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
        <setting name="XA.Foundation.PlaceholderSettings.PlaceholderSettingsContextCacheMaxSize" value="50MB" />
        <setting name="XA.Foundation.PlaceholderSettings.PlaceholderSettingsContextCache.Enabled" value="true" />
        <setting name="XA.Foundation.PlaceholderSettings.FallbackPlaceholderItem" value="{1002B31B-2686-416A-84A8-2B9996A61FA6}" />
    </settings>
    <experienceAccelerator>
      <placeholderSettings>
        <!-- List of template IDs that can be used as a Placeholder Setting roots. -->
        <selectablePlaceholderSettingRootTemplates>
          <templateID desc="Placeholder Settings Folder">{0339BAC0-78C1-43C1-B930-F8C26A5FDF80}</templateID>
        </selectablePlaceholderSettingRootTemplates>
      </placeholderSettings>
    </experienceAccelerator>
    <commands>
      <command name="webedit:editplaceholdersettings" patch:instead="*[@name='webedit:editplaceholdersettings']" type="Sitecore.XA.Foundation.PlaceholderSettings.WebEdit.Commands.EditPlaceholderSettings, Sitecore.XA.Foundation.PlaceholderSettings"/>
    </commands>
    <pipelines>
      <getRenderingCaching>
        <processor patch:before="*[@type='Sitecore.XA.Foundation.Presentation.Pipelines.GetRenderingCaching.GetInheritedCacheOptions,Sitecore.XA.Foundation.Presentation']" type="Sitecore.XA.Foundation.PlaceholderSettings.Pipelines.GetRenderingCaching.GetPlaceholderRenderingCaching, Sitecore.XA.Foundation.PlaceholderSettings" resolve="true"/>
      </getRenderingCaching>
      <getPlaceholderSetting>
          <processor type="Sitecore.XA.Foundation.PlaceholderSettings.Pipelines.GetPlaceholderSetting.GetPlaceholderSettingSiteRoot, Sitecore.XA.Foundation.PlaceholderSettings" resolve="true" />
          <processor type="Sitecore.XA.Foundation.PlaceholderSettings.Pipelines.GetPlaceholderSetting.GetPlaceholderSettingsRootsForSharedSites, Sitecore.XA.Foundation.PlaceholderSettings" resolve="true" />
      </getPlaceholderSetting>
      <createPlaceholderSetting>
        <processor type="Sitecore.XA.Foundation.PlaceholderSettings.Pipelines.CreatePlaceholderSetting.GetSettingsRootItem, Sitecore.XA.Foundation.PlaceholderSettings" resolve="true" />
        <processor type="Sitecore.XA.Foundation.PlaceholderSettings.Pipelines.CreatePlaceholderSetting.ValidateName, Sitecore.XA.Foundation.PlaceholderSettings" resolve="true" />
        <processor type="Sitecore.XA.Foundation.PlaceholderSettings.Pipelines.CreatePlaceholderSetting.ValidatePlaceholder, Sitecore.XA.Foundation.PlaceholderSettings" resolve="true" />
        <processor type="Sitecore.XA.Foundation.PlaceholderSettings.Pipelines.CreatePlaceholderSetting.CreatePlaceholderSettingItem, Sitecore.XA.Foundation.PlaceholderSettings" resolve="true" />
        <processor type="Sitecore.XA.Foundation.PlaceholderSettings.Pipelines.CreatePlaceholderSetting.SetPlaceholderSettingProperties, Sitecore.XA.Foundation.PlaceholderSettings" resolve="true" />
      </createPlaceholderSetting>
      <getPlaceholderRenderings>
          <!-- Sitecore XP 10.2.1.009116+ -->
          <processor patch:instead="*[@type='Sitecore.ExperienceEditor.Pipelines.GetPlaceholderRenderings.GetAllowedRenderings, Sitecore.ExperienceEditor']" type="Sitecore.XA.Foundation.PlaceholderSettings.Pipelines.GetPlaceholderRenderings.GetAllowedRenderingsNew, Sitecore.XA.Foundation.PlaceholderSettings" resolve="true" />
          <!-- Sitecore XP 10.2.0 -->
        <processor patch:instead="*[@type='Sitecore.Pipelines.GetPlaceholderRenderings.GetAllowedRenderings, Sitecore.Kernel']" type="Sitecore.XA.Foundation.PlaceholderSettings.Pipelines.GetPlaceholderRenderings.GetAllowedRenderings, Sitecore.XA.Foundation.PlaceholderSettings" resolve="true" />
      </getPlaceholderRenderings>
    </pipelines>
    <services>
        <register serviceType="Sitecore.XA.Foundation.PlaceholderSettings.IPlaceholderSettingsContext, Sitecore.XA.Foundation.PlaceholderSettings" implementationType="Sitecore.XA.Foundation.PlaceholderSettings.PlaceholderSettingsContext, Sitecore.XA.Foundation.PlaceholderSettings" lifetime="Singleton"/>
        <register serviceType="Sitecore.XA.Foundation.PlaceholderSettings.Services.ILayoutsPageContext, Sitecore.XA.Foundation.PlaceholderSettings" implementationType="Sitecore.XA.Foundation.PlaceholderSettings.Services.LayoutsPageContext, Sitecore.XA.Foundation.PlaceholderSettings" lifetime="Singleton"/>
        <register serviceType="Sitecore.XA.Foundation.Abstractions.Configuration.IConfiguration`1[[Sitecore.XA.Foundation.PlaceholderSettings.PlaceholderSettingsConfiguration, Sitecore.XA.Foundation.PlaceholderSettings]], Sitecore.XA.Foundation.Abstractions"
                  implementationType="Sitecore.XA.Foundation.PlaceholderSettings.PlaceholderSettingsConfigurationReader, Sitecore.XA.Foundation.PlaceholderSettings" lifetime="Singleton"/>
    </services>
  </sitecore>
</configuration>

