<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file enables and configures the Dynamic Placeholders foundation module.

This foundation module provides backend support for multiple placeholders and therefore for complex page layouts. 
Normally you could not place multiple placeholder-generating renderings with the same name inside a single placeholder. 
This foundation module solves that problem by supporting dynamic placeholders.

To disable this file, change its extension to ".disabled".

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <experienceAccelerator>
      <!-- List of renderings that can use dynamic placeholders. -->
      <dynamicPlaceholders>
        <dynamicPlaceholderRenderings>
          <rendering id="{6BD1186A-AE0E-4C6C-964B-70C7D6648BBE}" name="ServiceCollection"/>
        </dynamicPlaceholderRenderings>
        <!-- Groups of renderings that can use dynamic placeholders and are compatible, meaning they share the same placeholders (composites) -->
        <compatibleDynamicPlaceholderRenderings>
          <!--<group name="Group1">
            <rendering id="{DAA8DDA7-AF00-48F6-9C60-19AB73EBA80D}" name="Rendering1"/>            
          </group>-->
        </compatibleDynamicPlaceholderRenderings>
      </dynamicPlaceholders>
      <grid>
        <!-- List of excluded rendering parameters fields IDs used to build Grid parameters modal dialog -->
        <excludedComponentSettingFields>
          <fieldID desc="DynamicPlaceholderId">{341C75BF-07F6-40F9-8CEE-8C5DD80A51AF}</fieldID>
        </excludedComponentSettingFields>
      </grid>
    </experienceAccelerator>
    <pipelines>
      <getPlaceholderRenderings>
          <!-- Sitecore XP 10.2.1.009116+ -->
          <processor patch:before="*[@type='Sitecore.ExperienceEditor.Pipelines.GetPlaceholderRenderings.GetAllowedRenderings, Sitecore.ExperienceEditor']" type="Sitecore.XA.Foundation.DynamicPlaceholders.Pipelines.GetPlaceholderRenderings.ReplaceWildcardPlaceholderKeyNew, Sitecore.XA.Foundation.DynamicPlaceholders" />
          <!-- Sitecore XP 10.2.0 -->
        <processor patch:before="*[@type='Sitecore.Pipelines.GetPlaceholderRenderings.GetAllowedRenderings, Sitecore.Kernel']" type="Sitecore.XA.Foundation.DynamicPlaceholders.Pipelines.GetPlaceholderRenderings.ReplaceWildcardPlaceholderKey, Sitecore.XA.Foundation.DynamicPlaceholders" />
      </getPlaceholderRenderings>
      <group groupName="ExperienceEditor" name="ExperienceEditor">
          <pipelines>
              <executePageEditorAction>
                  <processor patch:instead="*[@type='Sitecore.Pipelines.ExecutePageEditorAction.InsertRendering, Sitecore.ExperienceEditor']" type="Sitecore.XA.Foundation.DynamicPlaceholders.Pipelines.ExecutePageEditorAction.InsertDynamicRendering, Sitecore.XA.Foundation.DynamicPlaceholders" resolve="true" />
              </executePageEditorAction>
          </pipelines>
      </group>
    </pipelines>
    <services>
        <register serviceType="Sitecore.XA.Foundation.DynamicPlaceholders.Repositories.IWildcardReplacer, Sitecore.XA.Foundation.DynamicPlaceholders" implementationType="Sitecore.XA.Foundation.DynamicPlaceholders.Repositories.WildcardReplacer, Sitecore.XA.Foundation.DynamicPlaceholders" lifetime="Singleton"/>
        <register serviceType="Sitecore.XA.Foundation.DynamicPlaceholders.Controller.DynamicPlaceholdersController, Sitecore.XA.Foundation.DynamicPlaceholders" implementationType="Sitecore.XA.Foundation.DynamicPlaceholders.Controller.DynamicPlaceholdersController, Sitecore.XA.Foundation.DynamicPlaceholders" lifetime="Transient"/>        
        <register serviceType="Sitecore.XA.Foundation.DynamicPlaceholders.Repositories.IDynamicPlaceholdersRepository, Sitecore.XA.Foundation.DynamicPlaceholders" implementationType="Sitecore.XA.Foundation.DynamicPlaceholders.Repositories.DynamicPlaceholdersRepository, Sitecore.XA.Foundation.DynamicPlaceholders" lifetime="Transient"/>
        <register serviceType="Sitecore.XA.Foundation.DynamicPlaceholders.Services.IColumnWidthParameterService, Sitecore.XA.Foundation.DynamicPlaceholders" implementationType="Sitecore.XA.Foundation.DynamicPlaceholders.Services.ColumnWidthParameterService, Sitecore.XA.Foundation.DynamicPlaceholders" lifetime="Singleton"/>
        <register serviceType="Sitecore.XA.Foundation.DynamicPlaceholders.Services.IDynamicPlaceholdersConfigurationProvider, Sitecore.XA.Foundation.DynamicPlaceholders" implementationType="Sitecore.XA.Foundation.DynamicPlaceholders.Services.DynamicPlaceholdersConfigurationProvider, Sitecore.XA.Foundation.DynamicPlaceholders" lifetime="Singleton"/>
        <register serviceType="Sitecore.XA.Foundation.DynamicPlaceholders.Services.IDynamicPlaceholderService, Sitecore.XA.Foundation.DynamicPlaceholders" implementationType="Sitecore.XA.Foundation.DynamicPlaceholders.Services.DynamicPlaceholderService, Sitecore.XA.Foundation.DynamicPlaceholders" lifetime="Singleton"/>
        <register serviceType="Sitecore.XA.Foundation.Abstractions.Configuration.IConfiguration`1[[Sitecore.XA.Foundation.DynamicPlaceholders.DynamicPlaceholdersConfiguration, Sitecore.XA.Foundation.DynamicPlaceholders]], Sitecore.XA.Foundation.Abstractions"
                  implementationType="Sitecore.XA.Foundation.DynamicPlaceholders.DynamicPlaceholdersConfigurationReader, Sitecore.XA.Foundation.DynamicPlaceholders" lifetime="Singleton"/>
    </services>
  </sitecore>
</configuration>

