<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <!--https://sitecore.stackexchange.com/questions/35404/method-through-reflection-is-not-allowed-after-applying-sitecore-hotfix-->
    <reflection>
      <allowedMethods>
        <descriptor type="Platform.Foundation.Core.Dialogs.LayoutDetails.LayoutDetailsForm" hint="LayoutDetailsForm.EditRendering" methodName="EditRendering" assemblyName="Platform"/>
        <descriptor type="Platform.Foundation.Core.Dialogs.LayoutDetails.LayoutDetailsForm" hint="LayoutDetailsForm.EditRenderingPipeline" methodName="EditRenderingPipeline" assemblyName="Platform"/>
        <descriptor type="Platform.Foundation.Core.Dialogs.LayoutDetails.LayoutDetailsForm" hint="LayoutDetailsForm.OpenDevice" methodName="OpenDevice" assemblyName="Platform"/>
        <descriptor type="Platform.Foundation.Core.Dialogs.LayoutDetails.LayoutDetailsForm" hint="LayoutDetailsForm.OpenDevicePipeline" methodName="OpenDevicePipeline" assemblyName="Platform"/>
        <descriptor type="Platform.Foundation.Core.Dialogs.LayoutDetails.LayoutDetailsForm" hint="LayoutDetailsForm.OnOK" methodName="OnOK" assemblyName="Platform"/>
        <descriptor type="Platform.Foundation.Core.Dialogs.LayoutDetails.LayoutDetailsForm" hint="LayoutDetailsForm.OnLoad" methodName="OnLoad" assemblyName="Platform"/>
        <descriptor type="Platform.Foundation.Core.Dialogs.LayoutDetails.LayoutDetailsForm" hint="LayoutDetailsForm.EditPlaceholderPipeline" methodName="EditPlaceholderPipeline" assemblyName="Platform"/>
        <descriptor type="Platform.Foundation.Core.Dialogs.LayoutDetails.LayoutDetailsForm" hint="LayoutDetailsForm.EditPlaceholder" methodName="EditPlaceholder" assemblyName="Platform"/>
        <descriptor type="Platform.Foundation.Core.Dialogs.LayoutDetails.LayoutDetailsForm" hint="LayoutDetailsForm.CopyDevice" methodName="CopyDevice" assemblyName="Platform"/>
        <descriptor type="Platform.Foundation.Core.Dialogs.LayoutDetails.LayoutDetailsForm" hint="LayoutDetailsForm.CopyDevicePipeline" methodName="CopyDevicePipeline" assemblyName="Platform"/>
        <descriptor type="Platform.Foundation.Core.Dialogs.LayoutDetails.LayoutDetailsForm" hint="LayoutDetailsForm.HandleMessage" methodName="HandleMessage" assemblyName="Platform"/>
        <descriptor type="Platform.Foundation.Core.Fields.Tree" hint="Droptree.Select" methodName="Select" assemblyName="Platform"/>
      </allowedMethods>
      <allowedPatterns>
        <pattern value="^Platform\..*,Platform\..*$"/>
      </allowedPatterns>
    </reflection>
  </sitecore>
</configuration>
