<?xml version="1.0"?>
<!--
  Automatically unlock the content items on Save.
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement or ContentDelivery">
    <settings>            
      <setting name="AutomaticUnlockOnSaved" value="true" />
    </settings>
  </sitecore>
</configuration>
