<configuration xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:patch="http://www.sitecore.net/xmlconfig/" >
  <sitecore role:require="Standalone or ContentManagement">
    <settings>
      <setting name="ExperienceEdge.MaxExportEntitiesThreadCount" value="5"/>
      <setting name="ExperienceEdge.MaxPublishThreadCount" value="2"/>
      <setting name="ExperienceEdge.ExportEntitiesBufferSize" value="100"/>
      <setting name="ExperienceEdge.ExportPublishEventsBatchSize" value="150"/>
      <setting name="ExperienceEdge.LayoutService.ConfigName" value="default"/>
      <setting name="ExperienceEdge.DeliveryEndpoint.TransientFailureRetryCount" value="3"/>
      <setting name="ExperienceEdge.DeliveryEndpoint.TransientFailureSleepTime" value="00:00:10"/>
      <setting name="ExperienceEdge.DeliveryEndpoint.CircuitBreakerAttemptsBeforeBreak" value="12"/>
      <setting name="ExperienceEdge.DeliveryEndpoint.CircuitBreakerDurationOfBreak" value="00:15:00"/>
      <!-- OBSOLETE: The 'ExperienceEdge.MaxMetadataCacheSize' setting is obsolete. Use the 'maxSize' parameter of EntityMetadataCache instead. -->
      <setting name="ExperienceEdge.MaxMetadataCacheSize" value="100000"/>
      <setting name="ExperienceEdge.CheckDeltaStatusBatchSize" value="50"/>
      <setting name="ExperienceEdge.AckCleanupTimeoutSeconds" value="25"/>
      <setting name="ExperienceEdge.AckBatchWaitTimeoutSeconds" value="120"/>
      <setting name="ExperienceEdge.AckWaitTimeoutSeconds" value="180"/>
      <setting name="ExperienceEdge.MaxDependencyResolutionThreadCount" value="5"/>
      <setting name="ExperienceEdge.ResolveDependenciesBatchSize" value="100"/>
      <setting name="ExperienceEdge.UseUnarySignalConnection" value="false"/>
      <setting name="ExperienceEdge.UseUnarySignalAckConnection" value="false"/>
      <setting name="ExperienceEdge.BatchMessageBufferSize" value="5"/>
      <setting name="ExperienceEdge.AckProcessingThreadCount" value="5"/>
      <setting name="ExperienceEdge.AckStreamTimeoutSeconds" value="20"/>
      <setting name="ExperienceEdge.IncludeDependencyAncestors" value="true"/>
    </settings>

    <links>
      <mediaUrlBuilder type="Sitecore.Links.UrlBuilders.MediaUrlBuilder, Sitecore.Kernel">
        <patch:attribute name="type">Sitecore.ExperienceEdge.Connector.ContentHubDelivery.UrlBuilder.DeliveryMediaUrlBuilder, Sitecore.ExperienceEdge.Connector.ContentHubDelivery</patch:attribute>
      </mediaUrlBuilder>
    </links>

    <pipelines>
      <publish>
        <processor patch:before="*[@type='Sitecore.Publishing.Pipelines.Publish.ProcessQueue, Sitecore.Kernel']" type="Sitecore.ExperienceEdge.Connector.Client.Pipelines.Publish.ProcessQueue, Sitecore.ExperienceEdge.Connector.Client" method="Process" resolve="true"/>
      </publish>
      <edgePublishItem>
        <processor type="Sitecore.Publishing.Pipelines.PublishItem.RaiseProcessingEvent, Sitecore.Kernel"/>
        <processor type="Sitecore.Publishing.Pipelines.PublishItem.CheckVirtualItem, Sitecore.Kernel"/>
        <processor type="Sitecore.Publishing.Pipelines.PublishItem.CheckSecurity, Sitecore.Kernel"/>
        <processor type="Sitecore.ExperienceEdge.Connector.Client.Pipelines.EdgePublishItem.DetermineAction,  Sitecore.ExperienceEdge.Connector.Client" method="Process" resolve="true"/>
        <processor type="Sitecore.Buckets.Pipelines.PublishItem.ProcessActionForBucketStructure, Sitecore.Buckets"/>
        <processor type="Sitecore.ExperienceEdge.Connector.Client.Pipelines.EdgePublishItem.PerformAction,  Sitecore.ExperienceEdge.Connector.Client" method="Process" resolve="true"/>
        <processor type="Sitecore.Publishing.Pipelines.PublishItem.AddItemReferences, Sitecore.Kernel"/>
        <processor type="Sitecore.Publishing.Pipelines.PublishItem.RaiseProcessedEvent, Sitecore.Kernel" runIfAborted="true"/>
        <processor type="Sitecore.ExperienceEdge.Connector.Client.Pipelines.EdgePublishItem.UpdateStatistics,  Sitecore.ExperienceEdge.Connector.Client" method="Process" resolve="true">
          <traceToLog>false</traceToLog>
        </processor>
      </edgePublishItem>
      <generateEdgeSchema>
        <processor type="Sitecore.ExperienceEdge.Connector.Client.Pipelines.GenerateEdgeSchema.GenerateDefaultSchemaProcessor,  Sitecore.ExperienceEdge.Connector.Client"/>
        <processor type="Sitecore.ExperienceEdge.Connector.Client.Pipelines.GenerateEdgeSchema.GenerateDefaultSchemaDefinitionsProcessor,  Sitecore.ExperienceEdge.Connector.Client"/>
      </generateEdgeSchema>
    </pipelines>

    <services>
      <configurator type="Sitecore.ExperienceEdge.Connector.Client.DependencyInjection.ServiceConfigurator, Sitecore.ExperienceEdge.Connector.Client" />
    </services>

    <databases>
      <database id="experienceedge" singleInstance="true" type="Sitecore.Data.DefaultDatabase, Sitecore.Kernel">
        <param desc="name">$(id)</param>
        <dataProviders hint="list:AddDataProvider">
          <dataProvider ref="dataProviders/filesystem" param1="$(id)" />
        </dataProviders>
        <readonly>true</readonly>
        <securityEnabled>false</securityEnabled>
        <cacheSizes hint="setting">
          <data>0</data>
          <items>0</items>
          <paths>0</paths>
          <standardValues>0</standardValues>
        </cacheSizes>
      </database>
    </databases>

    <events>
      <event name="publish:end">
        <handler type="Sitecore.ExperienceEdge.Connector.Client.EventHandlers.EntityMetadataCacheClearer, Sitecore.ExperienceEdge.Connector.Client" method="ClearCache" resolve="true" singleInstance="true" />
      </event>
      <event name="publish:fail">
        <handler type="Sitecore.ExperienceEdge.Connector.Client.EventHandlers.EntityMetadataCacheClearer, Sitecore.ExperienceEdge.Connector.Client" method="ClearCache" resolve="true" singleInstance="true" />
      </event>
    </events>

    <experienceEdge>
      <caches>
        <templates>
          <entityMetadata type="Sitecore.ExperienceEdge.Connector.ContentHubDelivery.Infrastructure.EntityMetadataCache, Sitecore.ExperienceEdge.Connector.ContentHubDelivery">
            <param desc="name">$(0)</param>
            <param desc="maxSize" arg0="30MB" type="Sitecore.ExperienceEdge.Connector.Client.Configurations.ConfigurationHelper, Sitecore.ExperienceEdge.Connector.Client" factoryMethod="ToSize" />
            <param desc="slidingExpiration" arg0="00:02:00" type="Sitecore.ExperienceEdge.Connector.Client.Configurations.ConfigurationHelper, Sitecore.ExperienceEdge.Connector.Client" factoryMethod="ToTimeSpan" />
            <param desc="log" type="Sitecore.Abstractions.BaseLog, Sitecore.Kernel" resolve="true" />
          </entityMetadata>
        </templates>
      </caches>
    </experienceEdge>

  </sitecore>

</configuration>
