<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.Cors" version="5.2.6" targetFramework="net48" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.4" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.6" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.6" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.6" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.2.6" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.9" targetFramework="net48" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection" version="3.1.14" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="3.1.14" targetFramework="net48" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="RazorGenerator.MsBuild" version="2.5.0" targetFramework="net48" developmentDependency="true" />
  <package id="RazorGenerator.Mvc" version="2.4.9" targetFramework="net48" />
  <package id="SC-Hotfix-602286-1-Cumulative" version="1.0.0" targetFramework="net48" />
  <package id="Sitecore.Assemblies.Platform" version="10.2.1" targetFramework="net48" />
  <package id="Sitecore.Assemblies.SitecoreExperienceAccelerator" version="10.2.0" targetFramework="net48" />
  <package id="Sitecore.Assemblies.SitecoreHeadlessServicesServer" version="20.0.1" targetFramework="net48" />
  <package id="Sitecore.Buckets" version="10.2.1" targetFramework="net48" />
  <package id="Sitecore.Client" version="10.2.1" targetFramework="net48" />
  <package id="Sitecore.Data.ResourceItems.Abstractions" version="10.2.1" targetFramework="net48" />
  <package id="Sitecore.Data.ResourceItems.ProtobufNet" version="10.2.1" targetFramework="net48" />
  <package id="Sitecore.ExperienceEditor" version="10.2.1" targetFramework="net48" />
  <package id="Sitecore.ExperienceEditor.Speak" version="10.2.1" targetFramework="net48" />
  <package id="Sitecore.ExperienceEditor.Speak.Ribbon" version="10.2.1" targetFramework="net48" />
  <package id="Sitecore.Hotfix.602289" version="1.0.0" targetFramework="net48" />
  <package id="Sitecore.Hotfix.609241" version="1.0.0" targetFramework="net48" />
  <package id="Sitecore.JavaScriptServices.Configuration" version="20.0.1" targetFramework="net48" />
  <package id="Sitecore.JavaScriptServices.GraphQL" version="20.0.1" targetFramework="net48" />
  <package id="Sitecore.JavaScriptServices.ViewEngine" version="20.0.1" targetFramework="net48" />
  <package id="Sitecore.Kernel" version="10.2.1" targetFramework="net48" />
  <package id="Sitecore.LayoutService" version="8.1.0" targetFramework="net48" />
  <package id="Sitecore.LayoutService.Mvc" version="8.1.0" targetFramework="net48" />
  <package id="Sitecore.Logging" version="10.2.1" targetFramework="net48" />
  <package id="Sitecore.Mvc" version="10.2.1" targetFramework="net48" />
  <package id="Sitecore.XA.Foundation.Abstractions" version="10.2.0" targetFramework="net48" />
  <package id="Sitecore.XA.Foundation.LocalDatasources" version="10.2.0" targetFramework="net48" />
  <package id="Sitecore.XA.Foundation.Multisite" version="10.2.0" targetFramework="net48" />
  <package id="Sitecore.XA.Foundation.SitecoreExtensions" version="10.2.0" targetFramework="net48" />
  <package id="Sitecore.XA.Foundation.TokenResolution" version="10.2.0" targetFramework="net48" />
  <package id="Sitecore.XA.JSS.Foundation.Presentation" version="10.2.0" targetFramework="net48" />
</packages>